<div>
  <%= link_to 'Main', root_path %>
</div>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if signed_in? %>
  <ul>
    <li><%= link_to 'Edit', edit_article_path(@article) %></li>
    <li><%= link_to 'Destroy', article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: '¿Are you sure?'
                  } %></li>
  </ul>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>


<%if current_user.following?(@user) || current_user==(@user)%>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>
